[submodule "Muslim/Muslim/Submodules/AFNetworking"]
	path = Muslim/Muslim/Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking
[submodule "Muslim/Muslim/Submodules/Toast"]
	path = Muslim/Muslim/Submodules/Toast
	url = https://github.com/Rannie/Toast-Swift.git
[submodule "Muslim/Muslim/Submodules/fmdb"]
	path = Muslim/Muslim/Submodules/fmdb
	url = https://github.com/ccgus/fmdb.git
[submodule "Muslim/Muslim/Submodules/ZipArchive"]
	path = Muslim/Muslim/Submodules/ZipArchive
	url = https://github.com/ZipArchive/ZipArchive.git
[submodule "Muslim/Muslim/Submodules/CNPPopupController"]
	path = Muslim/Muslim/Submodules/CNPPopupController
	url = https://github.com/carsonperrotti/CNPPopupController.git
