<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>بخشاینده</string>
    <string>مهربان</string>
    <string>پادشاه</string>
    <string>مقدس</string>
    <string>پاک و سلامتی بخش عالم</string>
    <string>اطمینان دهنده</string>
    <string>نگهدارنده</string>
    <string>باشکوه</string>
    <string>توانگر</string>
    <string>بسیار بزرگ</string>
    <string>آفریننده</string>
    <string>درست</string>
    <string>نگارگر، صورتگر</string>
    <string>همیشه بخشاینده</string>
    <string>فروکاهنده</string>
    <string>نیک بخشاینده</string>
    <string>همیشه روزی دهنده</string>
    <string>گشاینده (پیروزکننده)</string>
    <string>داناترین</string>
    <string>می‌راننده، بیرون کشنده جان‌ها</string>
    <string>گستراننده، فراخ کننده روزی</string>
    <string>پست کننده، خوار کننده</string>
    <string>(به سوی خود) بالا برنده</string>
    <string>عزیزکننده</string>
    <string>خوارکننده</string>
    <string>شنواترین</string>
    <string>بیناترین</string>
    <string>دادگر</string>
    <string>بینهایت عادل</string>
    <string>آن‌که بر بندگانش لطف دارد</string>
    <string>آگاه‌ترین</string>
    <string>بسیار بردبار</string>
    <string>بی‌انتها</string>
    <string>بسیار بخشاینده</string>
    <string>بسیار سپاس‌گزار (پاداش دهنده بزرگ است مر عمل کوچک را)</string>
    <string>بلند مرتبه</string>
    <string>بزرگ‌ترین</string>
    <string>نگهدارنده</string>
    <string>خوراک دهنده</string>
    <string>شمارنده</string>
    <string>بسیار گرانقدر</string>
    <string>بسیار بخشنده</string>
    <string>نگهبان، بیننده و آماده</string>
    <string>پاسخگو</string>
    <string>گسترده، پهناور</string>
    <string>فرزانه، بسیار خردمند</string>
    <string>دوست</string>
    <string>بسیار لایق ستایش (در ذات و صفات خود عظیم و نسبت به بندگان بسیار با خیر و احسان است)</string>
    <string>برانگیزنده مردگان</string>
    <string>بیننده</string>
    <string>راست، درست</string>
    <string>عهده دار همه امور بندگان و موجودات</string>
    <string>پرزور</string>
    <string>سخت (و نیز پاینده)</string>
    <string>دوست، یار و نگهبان</string>
    <string>ستوده</string>
    <string>شمارنده</string>
    <string>نخستین آفریننده</string>
    <string>بازگرداننده، دوباره زنده کننده</string>
    <string>زندگی بخش، هستی بخش</string>
    <string>می‌راننده، نابود کننده</string>
    <string>زنده</string>
    <string>قائم به ذات (همه-آفریننده‌ای که کسی او را نیافرید)، پاینده</string>
    <string>یابنده</string>
    <string>بزرگوار</string>
    <string>یکتای بی‌همتا</string>
    <string>یگانه (خدایی جز او نیست)</string>
    <string>بی‌نیاز</string>
    <string>توانا</string>
    <string>تعیین کننده (قضا و قدر)، فراتر</string>
    <string>فراپیش کشنده</string>
    <string>فراپس دارنده، پس گذارنده چیزها و نهنده آن‌ها بجای آن‌ها</string>
    <string>نخستین، اول پدیدارکننده وجود</string>
    <string>واپسین، آخر فناکننده موجود</string>
    <string>آشکار (پدیدار، هویدا)، همیشه پیروز</string>
    <string>پنهان، همه دربرگیرنده</string>
    <string>یگانه سرپرستی که همه ولایتها از اوست</string>
    <string>خود ستوده</string>
    <string>نیکوترین</string>
    <string>همیشه توبه پذیر</string>
    <string>انتقام گیر</string>
    <string>درگذرنده (آمرزنده)، ناپدیدکننده گناهان</string>
    <string>بسیار دلسوز و مهربان</string>
    <string>فرمانروای جهان</string>
    <string>دارای شکوه و بخشش</string>
    <string>عادل</string>
    <string>گردآورنده</string>
    <string>توانگر</string>
    <string>بی‌نیاز کننده، بسنده</string>
    <string>بازدارنده</string>
    <string>آزار دهنده (این صفت تنها در احادیث یافت می‌شود)</string>
    <string>سودمند</string>
    <string>روشنی</string>
    <string>رهنما</string>
    <string>سنجش ناپذیر، آفریننده</string>
    <string>ماندگار و واگردان نشدنی (تغییر ناپذیر)</string>
    <string>مالک نهایی تمام مخلوقات</string>
    <string>راهنما، آموزگار و دانای بی‌خطا</string>
    <string>شکیبا</string>
</array>
</plist>
