<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>islamic</key>
	<array> 
		<dict>
			<key>time</key>
			<string>1/1/</string>
			<key>name</key>
			<string>هجری</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1/10/</string>
			<key>name</key>
			<string>عاشورا</string>
		</dict>
		<dict>
			<key>time</key>
			<string>3/12/</string>
			<key>name</key>
			<string>میلاد پیامبر آل نبی</string>
		</dict>
		<dict>
			<key>time</key>
			<string>7/27/</string>
			<key>name</key>
			<string>شب معراج</string>
		</dict>
		<dict>
			<key>time</key>
			<string>9/1/</string>
			<key>name</key>
			<string>ماه مبارک رمضان (شروع)</string>
		</dict>
		<dict>
			<key>time</key>
			<string>9/26/</string>
			<key>name</key>
			<string>شب برات</string>
		</dict>
		<dict>
			<key>time</key>
			<string>10/1/</string>
			<key>name</key>
			<string>عید فطر</string>
		</dict>
		<dict>
			<key>time</key>
			<string>12/9/</string>
			<key>name</key>
			<string>وقف عرفه - حج</string>
		</dict>
		<dict>
			<key>time</key>
			<string>12/10/</string>
			<key>name</key>
			<string>عید قربان</string>
		</dict>
	</array>
	<key>persain</key>
	<array>
		<dict>
			<key>time</key>
			<string>1/1/</string>
			<key>name</key>
			<string>عیدنوروز</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1/2/</string>
			<key>name</key>
			<string>عیدنوروز</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1/3/</string>
			<key>name</key>
			<string>عیدنوروز</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1/4/</string>
			<key>name</key>
			<string>عیدنوروز</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1/12/</string>
			<key>name</key>
			<string>روز جمهوری اسلامی</string>
		</dict>
		<dict>
			<key>time</key>
			<string>1/13/</string>
			<key>name</key>
			<string>روز طبیعت </string>
		</dict>
		<dict>
			<key>time</key>
			<string>3/14/</string>
			<key>name</key>
			<string>رحلت امام خمینی </string>
		</dict>
		<dict>
			<key>time</key>
			<string>3/15/</string>
			<key>name</key>
			<string>قیام خونین 15 خرداد</string>
		</dict>
		<dict>
			<key>time</key>
			<string>11/22/</string>
			<key>name</key>
			 <string>پیروزی انقلاب اسلامی 22 بهمن</string>
		</dict>
		<dict>
			<key>time</key>
			<string>12/29/</string>
			<key>name</key>
			<string>National Day of the oil industry</string>
		</dict>
	</array>
</dict>
</plist>
