<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>islamic</key>
        <array>
            <dict>
                <key>time</key>
                <string>1/1/</string>
                <key>name</key>
                <string>Al-Hijira</string>
            </dict>
            <dict>
                <key>time</key>
                <string>1/10/</string>
                <key>name</key>
                <string>Ashura</string>
            </dict>
            <dict>
                <key>time</key>
                <string>3/12/</string>
                <key>name</key>
                <string>Mawlid al-Nabi</string>
            </dict>
            <dict>
                <key>time</key>
                <string>7/27/</string>
                <key>name</key>
                <string>Lailat al Miraj</string>
            </dict>
            <dict>
                <key>time</key>
                <string>9/1/</string>
                <key>name</key>
                <string>Ramadan (start)</string>
            </dict>
            <dict>
                <key>time</key>
                <string>9/26/</string>
                <key>name</key>
                <string>Laylat al Baraat</string>
            </dict>
            <dict>
                <key>time</key>
                <string>10/1/</string>
                <key>name</key>
                <string>Eid-Ul-Fitr (~)</string>
            </dict>
            <dict>
                <key>time</key>
                <string>12/9/</string>
                <key>name</key>
                <string>Waqf Al Arafa - Hajj</string>
            </dict>
            <dict>
                <key>time</key>
                <string>12/10/</string>
                <key>name</key>
                <string>Eid-Ul-Adha</string>
            </dict>
        </array>
        <key>persain</key>
        <array>
            <dict>
                <key>time</key>
                <string>1/1/</string>
                <key>name</key>
                <string>Eid Noroz</string>
            </dict>
            <dict>
                <key>time</key>
                <string>1/2/</string>
                <key>name</key>
                <string>Eid Noroz</string>
            </dict>
            <dict>
                <key>time</key>
                <string>1/3/</string>
                <key>name</key>
                <string>Eid Noroz</string>
            </dict>
            <dict>
                <key>time</key>
                <string>1/4/</string>
                <key>name</key>
                <string>Eid Noroz</string>
            </dict>
            <dict>
                <key>time</key>
                <string>1/12/</string>
                <key>name</key>
                <string>Islamic Republic Day</string>
            </dict>
            <dict>
                <key>time</key>
                <string>1/13/</string>
                <key>name</key>
                <string>Nature Day</string>
            </dict>
            <dict>
                <key>time</key>
                <string>3/14/</string>
                <key>name</key>
                <string>The demise of Imam Khomeini</string>
            </dict>
            <dict>
                <key>time</key>
                <string>3/15/</string>
                <key>name</key>
                <string>Bloody uprising of 15 Khordad</string>
            </dict>
            <dict>
                <key>time</key>
                <string>11/22/</string>
                <key>name</key>
                <string>The Islamic Revolution of Iran</string>
            </dict>
            <dict>
                <key>time</key>
                <string>12/29/</string>
                <key>name</key>
                <string>National Day of the oil industry</string>
            </dict>
        </array>
    </dict>
</plist>
