<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>The Opening</string>
        <string>The Cow</string>
        <string>The Family Of Imran</string>
        <string>Women</string>
        <string>The Food</string>
        <string>The Cattle</string>
        <string>The Elevated Place</string>
        <string>The Spoils Of War</string>
        <string>Repentance</string>
        <string>Yunus</string>
        <string>Hud</string>
        <string>Yusuf</string>
        <string>The Thunder</string>
        <string>Ibrahim</string>
        <string>The Rock</string>
        <string>The Bee</string>
        <string>The Israelites</string>
        <string>The Cave</string>
        <string>Marium</string>
        <string>Ta Ha</string>
        <string>The Prophets</string>
        <string>The Pilgrimage</string>
        <string>The Believers</string>
        <string>The Light</string>
        <string>The Criterion</string>
        <string>The Poets</string>
        <string>The Ant</string>
        <string>The Narrative</string>
        <string>The Spider</string>
        <string>The Romans</string>
        <string>Luqman</string>
        <string>The Adoration</string>
        <string>The Allies</string>
        <string>Saba</string>
        <string>The Originator</string>
        <string>Ya Seen</string>
        <string>The Rangers</string>
        <string>Suad</string>
        <string>The Companies</string>
        <string>The Believer</string>
        <string>Ha Mim</string>
        <string>The Counsel</string>
        <string>The Embellishment</string>
        <string>The Evident Smoke</string>
        <string>The Kneeling</string>
        <string>The Sandhills</string>
        <string>Muhammad</string>
        <string>The Victory</string>
        <string>The Chambers</string>
        <string>Qaf</string>
        <string>The Scatterers</string>
        <string>The Mountain</string>
        <string>The Star</string>
        <string>The Moon</string>
        <string>The Beneficient</string>
        <string>The Great Event</string>
        <string>The Iron</string>
        <string>The Pleading One</string>
        <string>The Banishment</string>
        <string>The Examined One</string>
        <string>The Ranks</string>
        <string>Friday</string>
        <string>The Hypocrites</string>
        <string>Loss And Gain</string>
        <string>The Divorce</string>
        <string>The Prohibition</string>
        <string>The Kingdom</string>
        <string>The Pen</string>
        <string>The Sure Calamity</string>
        <string>The Ways Of Ascent</string>
        <string>Nuh</string>
        <string>The Jinn</string>
        <string>The Wrapped Up</string>
        <string>The Clothe Done</string>
        <string>The Resurrection</string>
        <string>The Man</string>
        <string>The Emissaries</string>
        <string>The Great Event</string>
        <string>Those Who Pull Out</string>
        <string>He Frowned</string>
        <string>The Covering Up</string>
        <string>The Cleaving Asund</string>
        <string>The Defrauders</string>
        <string>The Bursting Asund</string>
        <string>The Mansions Of The Stars</string>
        <string>The Night-Comer</string>
        <string>The Most High</string>
        <string>The Overwhelming</string>
        <string>The Daybreak</string>
        <string>The City</string>
        <string>The Sun</string>
        <string>The Night</string>
        <string>The Early Hours</string>
        <string>The Expansion</string>
        <string>The Fig</string>
        <string>The Clot</string>
        <string>The Majesty</string>
        <string>The Clear Evidence</string>
        <string>The Shaking</string>
        <string>The Assaulters</string>
        <string>The Terrible Calam</string>
        <string>The Multiplicatio</string>
        <string>Time</string>
        <string>The Slanderer</string>
        <string>The Elephant</string>
        <string>The Qureaish</string>
        <string>The Daily Necessar</string>
        <string>The Heavenly Fount</string>
        <string>The Unbelievers</string>
        <string>The Help</string>
        <string>The Flame</string>
        <string>The Unity</string>
        <string>The Dawn</string>
        <string>The Men</string>
    </array>
</plist>
