<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>拉赫曼：普慈的主</string>
    <string>拉希姆：特慈的主</string>
    <string>马立克：掌权的主</string>
    <string>古杜斯：圣洁的主</string>
    <string>色兰：给安宁的主</string>
    <string>穆民：护佑的主</string>
    <string>穆海敏：监护的主</string>
    <string>阿齐兹：万能的主</string>
    <string>贾巴尔：强大的主</string>
    <string>穆泰凯比尔：至尊的主</string>
    <string>哈利格：创造万物的主</string>
    <string>巴雷厄： 创世的主</string>
    <string>穆萨维尔：赋形万物的主</string>
    <string>阿法尔：宽恕的主</string>
    <string>盖哈尔：统治的主</string>
    <string>瓦哈卜：厚施的主</string>
    <string>拉扎克：普施的主</string>
    <string>法塔赫：明断的主</string>
    <string>阿利姆：彻知的主</string>
    <string>戛比德：控制一切的 主</string>
    <string>巴西特：赐喜的主</string>
    <string>哈菲德：使人降级的主</string>
    <string>拉菲尔： 使人擢升的主</string>
    <string>穆伊兹：使人尊贵的主</string>
    <string>穆齐勒：使人卑贱的主</string>
    <string>塞米尔：全聪的主</string>
    <string>拜绥尔：明察的主</string>
    <string>哈基姆：公断的主</string>
    <string>阿德勒：公正的主</string>
    <string>拉蒂夫：仁厚的主</string>
    <string>海比尔： 深知的主</string>
    <string>哈利姆：宽容的主</string>
    <string>阿齐姆：伟大的主</string>
    <string>厄富尔：至赦的主</string>
    <string>舍库尔：善报的主</string>
    <string>阿利伊：崇高的主</string>
    <string>凯比尔：尊大的主</string>
    <string>哈菲兹：荫庇穆民的主</string>
    <string>穆基特：赐人食禄的主</string>
    <string>哈希卜：末日审判的主</string>
    <string>杰利勒：威严的主</string>
    <string>凯里姆：尊贵的主</string>
    <string>拉基卜：监察的主</string>
    <string>穆吉卜：有求必应的主</string>
    <string>瓦西尔：宽恩的主</string>
    <string>哈基姆：至睿的主</string>
    <string>瓦杜德：至爱的主</string>
    <string>麦吉德：光荣的主</string>
    <string>巴伊斯：起死复生的主</string>
    <string>沙希德：见证的主</string>
    <string>哈格：实有的主</string>
    <string>瓦基勒：可信赖的主</string>
    <string>盖维伊： 强有力的主</string>
    <string>麦提尼：坚定的主</string>
    <string>吾里：监护的主</string>
    <string>哈米德：受赞的主</string>
    <string>穆哈绥：察定善恶的主</string>
    <string>穆卜迪：肇造的主</string>
    <string>穆伊德：再造的主</string>
    <string>穆哈伊：赋予生命的主</string>
    <string>穆米特： 主宰死亡的主</string>
    <string>哈伊：永生的主</string>
    <string>盖尤姆：不灭的主</string>
    <string>瓦吉德：丰足的主</string>
    <string>马吉德：卓越的主</string>
    <string>瓦希德：独一的主</string>
    <string>阿哈德：独一的、充塞寰宇的主</string>
    <string>赛迈德：万物仰赖的主</string>
    <string>戛迪尔：全能的主</string>
    <string>穆格台迪尔：大能的主</string>
    <string>穆盖迪姆：前定的主</string>
    <string>穆阿希尔：无终的主</string>
    <string>奥沃勒：原始的主</string>
    <string>阿希尔：独存的主</string>
    <string>扎希尔：显迹的主</string>
    <string>巴推尼：隐秘的主</string>
    <string>瓦利：统管的主</string>
    <string>穆泰阿利：至高无上的主</string>
    <string>巴尔：廉洁的主</string>
    <string>塔瓦卜：承领悔过的主</string>
    <string>蒙泰基姆：惩治邪恶的主</string>
    <string>阿夫吾：至恕的主</string>
    <string>拉乌夫：怜悯的主</string>
    <string>马立克 穆勒克：统治一切的主</string>
    <string>祖勒杰拉勒 沃勒伊克拉姆：尊严与大德的主</string>
    <string>穆格西特：公道的主</string>
    <string>贾米尔：聚集万物的主</string>
    <string>厄尼伊：无求的主</string>
    <string>穆厄尼：赐富的主</string>
    <string>马尼尔：止恶的主</string>
    <string>达尔：惩恶的主</string>
    <string>纳菲厄：施益于人的主</string>
    <string>努尔：光辉的主</string>
    <string>哈迪：引导的主</string>
    <string>拜迪尔：杰出的主</string>
    <string>巴基：永存的主</string>
    <string>瓦雷斯：收缴遗产的主</string>
    <string>拉希德：智能的主</string>
    <string>赛布林：坚忍的主</string>
</array>
</plist>
