<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>开 端</string>
    <string>黄 牛</string>
    <string>仪 姆 兰 的 家 属</string>
    <string>妇 女</string>
    <string>筵 席</string>
    <string>牲 畜</string>
    <string>高 处</string>
    <string>战 利 品</string>
    <string>忏 悔</string>
    <string>优 努 斯</string>
    <string>呼 德</string>
    <string>优 素 福</string>
    <string>雷 霆</string>
    <string>易 卜 拉 欣</string>
    <string>石 谷</string>
    <string>蜜 蜂</string>
    <string>夜 行</string>
    <string>山 洞</string>
    <string>麦 尔 彦</string>
    <string>塔 哈</string>
    <string>众 先 知</string>
    <string>朝 觐</string>
    <string>信 士</string>
    <string>光 明</string>
    <string>准 则</string>
    <string>众 诗 人</string>
    <string>蚂 蚁</string>
    <string>故 事</string>
    <string>蜘 蛛</string>
    <string>罗 马 人</string>
    <string>鲁 格 曼</string>
    <string>叩 头</string>
    <string>同 盟 军</string>
    <string>赛 伯 邑</string>
    <string>创 造 者</string>
    <string>雅 辛</string>
    <string>列 班 者</string>
    <string>萨 德</string>
    <string>队 伍</string>
    <string>赦 宥 者</string>
    <string>奉 绥 来 特</string>
    <string>协 商</string>
    <string>金 饰</string>
    <string>烟 雾</string>
    <string>屈 膝</string>
    <string>沙 丘</string>
    <string>穆 罕 默 德</string>
    <string>胜 利</string>
    <string>寝 室</string>
    <string>戛 弗</string>
    <string>播 种 者</string>
    <string>山 岳</string>
    <string>星 宿</string>
    <string>月 亮</string>
    <string>至 仁 主</string>
    <string>大 事</string>
    <string>铁</string>
    <string>辩 诉 者</string>
    <string>放 逐</string>
    <string>受 考 验 的 妇 人</string>
    <string>列 阵</string>
    <string>聚 礼</string>
    <string>伪 信 者</string>
    <string>相 欺</string>
    <string>离 婚</string>
    <string>禁 戒</string>
    <string>国 权</string>
    <string>笔</string>
    <string>真 灾</string>
    <string>天 梯</string>
    <string>努 哈</string>
    <string>精 灵</string>
    <string>披 衣 的 人</string>
    <string>盖 被 的 人</string>
    <string>复 活</string>
    <string>人</string>
    <string>天 使</string>
    <string>消 息</string>
    <string>急 掣 的</string>
    <string>皱 眉</string>
    <string>黯 黮</string>
    <string>破 裂</string>
    <string>称 量 不 公</string>
    <string>绽 裂</string>
    <string>十 二 宫</string>
    <string>启 明 星</string>
    <string>至 尊</string>
    <string>大 灾</string>
    <string>黎 明</string>
    <string>地 方</string>
    <string>太 阳</string>
    <string>黑 夜</string>
    <string>上 午</string>
    <string>开 拓</string>
    <string>无 花 果</string>
    <string>血 块</string>
    <string>高 贵</string>
    <string>明 证</string>
    <string>地 震</string>
    <string>奔 驰 的 马 队</string>
    <string>大 难</string>
    <string>竞 赛 富 庶</string>
    <string>时 光</string>
    <string>诽 谤 者</string>
    <string>象</string>
    <string>古 来 氏</string>
    <string>什 物</string>
    <string>多 福</string>
    <string>不 信 道 的 人 们</string>
    <string>援 助</string>
    <string>火 焰</string>
    <string>忠 诚</string>
    <string>曙 光</string>
    <string>世 人</string>
</array>
</plist>
