<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>الفاتحة</string>
        <string>البقرة</string>
        <string>آل عمران</string>
        <string>النساء</string>
        <string>المائدة</string>
        <string>الأنعام</string>
        <string>الأعراف</string>
        <string>الأنفال</string>
        <string>التوبة</string>
        <string>يونس</string>
        <string>هود</string>
        <string>يوسف</string>
        <string>الرعد</string>
        <string>ابراهيم</string>
        <string>الحجر</string>
        <string>النحل</string>
        <string>الإسراء</string>
        <string>الكهف</string>
        <string>مريم</string>
        <string>طه</string>
        <string>الأنبياء</string>
        <string>الحج</string>
        <string>المؤمنون</string>
        <string>النور</string>
        <string>الفرقان</string>
        <string>الشعراء</string>
        <string>النمل</string>
        <string>القصص</string>
        <string>العنكبوت</string>
        <string>الروم</string>
        <string>لقمان</string>
        <string>السجدة</string>
        <string>الأحزاب</string>
        <string>سبإ</string>
        <string>فاطر</string>
        <string>يس</string>
        <string>الصافات</string>
        <string>ص</string>
        <string>الزمر</string>
        <string>غافر</string>
        <string>فصلت</string>
        <string>الشورى</string>
        <string>الزخرف</string>
        <string>الدخان</string>
        <string>الجاثية</string>
        <string>الأحقاف</string>
        <string>محمد</string>
        <string>الفتح</string>
        <string>الحجرات</string>
        <string>ق</string>
        <string>الذاريات</string>
        <string>الطور</string>
        <string>النجم</string>
        <string>القمر</string>
        <string>الرحمن</string>
        <string>الواقعة</string>
        <string>الحديد</string>
        <string>المجادلة</string>
        <string>الحشر</string>
        <string>الممتحنة</string>
        <string>الصف</string>
        <string>الجمعة</string>
        <string>المنافقون</string>
        <string>التغابن</string>
        <string>الطلاق</string>
        <string>التحريم</string>
        <string>الملك</string>
        <string>القلم</string>
        <string>الحاقة</string>
        <string>المعارج</string>
        <string>نوح</string>
        <string>الجن</string>
        <string>المزمل</string>
        <string>المدثر</string>
        <string>القيامة</string>
        <string>الانسان</string>
        <string>المرسلات</string>
        <string>النبإ</string>
        <string>النازعات</string>
        <string>عبس</string>
        <string>التكوير</string>
        <string>الإنفطار</string>
        <string>المطففين</string>
        <string>الإنشقاق</string>
        <string>البروج</string>
        <string>الطارق</string>
        <string>الأعلى</string>
        <string>الغاشية</string>
        <string>الفجر</string>
        <string>البلد</string>
        <string>الشمس</string>
        <string>الليل</string>
        <string>الضحى</string>
        <string>الشرح</string>
        <string>التين</string>
        <string>العلق</string>
        <string>القدر</string>
        <string>البينة</string>
        <string>الزلزلة</string>
        <string>العاديات</string>
        <string>القارعة</string>
        <string>التكاثر</string>
        <string>العصر</string>
        <string>الهمزة</string>
        <string>الفيل</string>
        <string>قريش</string>
        <string>الماعون</string>
        <string>الكوثر</string>
        <string>الكافرون</string>
        <string>النصر</string>
        <string>المسد</string>
        <string>الإخلاص</string>
        <string>الفلق</string>
        <string>الناس</string>
    </array>
</plist>
