<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <string>Ar Rahman : Yang Maha Pengasih</string>
        <string>Ar Rahiim : Yang Maha Penyayang</string>
        <string>Al Malik : Yang Maha Merajai</string>
        <string>Al Quddus : Yang Maha Suci</string>
        <string>As Salaam : Yang Maha Memberi Kesejahteraan</string>
        <string>Al Mu\'min : Yang Maha Memberi Keamanan</string>
        <string>Al Muhaimin : Yang Maha Mengatur</string>
        <string>Al \'Aziiz : Yang Maha Perkasa</string>
        <string>Al Jabbar : Yang Memiliki Mutlak Kegagahan</string>
        <string>Al Mutakabbir : Yang Maha Megah,Yang Memiliki Kebesarann</string>
        <string>Al Khaliq : Yang Maha Pencipta</string>
        <string>Al Baari\' : Yang Maha Melepaskan</string>
        <string>Al Mushawwir : Yang Maha Membentuk Rupa</string>
        <string>Al Ghaffaar : Yang Maha Pengampun</string>
        <string>Al Qahhaar : Yang Maha Memaksa</string>
        <string>Al Wahhaab : Yang Maha Pemberi Karunia</string>
        <string>Ar Razzaaq : Yang Maha Pemberi Rezeki</string>
        <string>Al Fattaah : Yang Maha Pembuka Rahmat</string>
        <string>Al\'Aliim : Yang Maha Mengetahui</string>
        <string>Al Qaabidh : Yang Maha Menyempitkan</string>
        <string>Al Baasith : Yang Maha Melapangkan</string>
        <string>Al Khaafidh : Yang Maha Merendahkan</string>
        <string>Ar Raafi\' : Yang Maha Meninggikan</string>
        <string>Al Mu\'izz : Yang Maha Memuliakan</string>
        <string>Al Mudzil : Yang Maha Menghinakan</string>
        <string>Al Samil\' : Yang Maha Mendengar</string>
        <string>Al Bashiir : Yang Maha Melihat</string>
        <string>Al Hakam : Yang Maha Menetapkan</string>
        <string>Al \'Adl : Yang Maha Adil</string>
        <string>Al Lathiif : Yang Maha Lembut</string>
        <string>Al Khabiir : Yang Maha Mengenal</string>
        <string>Al Haliim : Yang Maha Penyantun</string>
        <string>Al \'Azhiim : Yang Maha Agung</string>
        <string>Al Ghafuur : Yang Maha Memberi Pengampunan</string>
        <string>As Syakuur : Yang Maha Pembalas Budi</string>
        <string>Al \'Aliy : Yang Maha Tinggi</string>
        <string>Al Kabiir : Yang Maha Besar</string>
        <string>Al Hafizh : Yang Maha Memelihara</string>
        <string>Al Muqiit : Yang Maha Pemberi Kecukupan</string>
        <string>Al Hasiib : Yang Maha Membuat Perhitungan</string>
        <string>Al Jaliil : Yang Maha Luhur</string>
        <string>Al Kariim : Yang Maha Pemurah</string>
        <string>Ar Raqiib : Yang Maha Mengawasi</string>
        <string>Al Mujiib : Yang Maha Mengabulkan</string>
        <string>Al Waasi\' : Yang Maha Luas</string>
        <string>Al Hakiim : Yang Maha Bijaksana</string>
        <string>Al Waduud : Yang Maha Mengasihi</string>
        <string>Al Majiid : Yang Maha Mulia</string>
        <string>Al Baa\'its : Yang Maha Membangkitkan</string>
        <string>As Syahiid : Yang Maha Menyaksikan</string>
        <string>Al Haqq : Yang Maha Benar</string>
        <string>Al Wakiil : Yang Maha Memelihara</string>
        <string>Al Qawiyyu : Yang Maha Kuat</string>
        <string>Al Matiin : Yang Maha Kokoh</string>
        <string>Al Waliyy : Yang Maha Melindungi</string>
        <string>Al Hamiid : Yang Maha Terpuji</string>
        <string>Al Muhsii : Yang Maha Mengalkulasi</string>
        <string>Al Mubdi\' : Yang Maha Memulai</string>
        <string>Al Mu\'iid : Yang Maha Mengembalikan Kehidupan</string>
        <string>Al Muhyii : Yang Maha Menghidupkan</string>
        <string>Al Mumiitu : Yang Maha Mematikan</string>
        <string>Al Hayyu : Yang Maha Hidup</string>
        <string>Al Qayyuum : Yang Maha Mandiri</string>
        <string>Al Waajid : Yang Maha Penemu</string>
        <string>Al Maajid : Yang Maha Mulia</string>
        <string>Al Wahid : Yang Maha Tunggal</string>
        <string>Al Ahad : Yang Maha Esa</string>
        <string>As Shamad : Yang Maha Dibutuhkan, Tempat Meminta</string>
        <string>Al Qaadir : Yang Maha Menentukan,Maha Menyeimbangkan</string>
        <string>Al Muqtadir : Yang Maha Berkuasa</string>
        <string>Al Muqaddim : Yang Maha Mendahulukan</string>
        <string>Al Mu\'akkhir : Yang Maha Mengakhirkan</string>
        <string>Al Awwal : Yang Maha Awal</string>
        <string>Al Aakhir : Yang Maha Akhir</string>
        <string>Az Zhaahir : Yang Maha Nyata</string>
        <string>Al Baathin : Yang Maha Ghaib</string>
        <string>Al Waali : Yang Maha Memerintah</string>
        <string>Al Muta\'aalii: Yang Maha Tinggi</string>
        <string>Al Barru : Yang Maha Penderma</string>
        <string>At Tawwaab : Yang Maha Penerima Tobat</string>
        <string>Al Muntaqim : Yang Maha Pemberi Balasan</string>
        <string>Al Afuww : Yang Maha Pemaaf</string>
        <string>Ar Ra\'uuf : Yang Maha Pengasuh</string>
        <string>Malikul Mulk : Yang Maha Penguasa Kerajaan</string>
        <string>Dzul Jalaali Wal Ikraam : Yang Maha Pemilik Kebesaran dan Kemuliaan</string>
        <string>Al Muqsith : Yang Maha Pemberi Keadilan</string>
        <string>Al Jamii\' : Yang Maha Mengumpulkan</string>
        <string>Al Ghaniyy : Yang Maha Kaya</string>
        <string>Al Mughnii : Yang Maha Pemberi Kekayaan</string>
        <string>Al Maani : Yang Maha Mencegah</string>
        <string>Ad Dhaar : Yang Maha Penimpa Kemudharatan</string>
        <string>An Nafii\' : Yang Maha Memberi Manfaat</string>
        <string>An Nuur : Yang Maha Bercahaya</string>
        <string>Al Haadii : Yang Maha Pemberi Petunjuk</string>
        <string>Al Badii\' : Yang Maha Pencipta yang Tiada Bandingannya</string>
        <string>Al Baaqii : Yang Maha Kekal</string>
        <string>Al Waarits : Yang Maha Pewaris</string>
        <string>Ar Rasyiid : Yang Maha Pandai</string>
        <string>As Shabuur : Yang Maha Sabar</string>
    </array>
</plist>
