<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Ar-Rahmān : Le Tout-Miséricordieux</string>
    <string>Ar-Rahīm : Le Très-Miséricordieux</string>
    <string>Al-Malik : Le Souverain</string>
    <string>Al-Quddūs : Le Pur</string>
    <string>As-Salām : La Paix</string>
    <string>Al-Mu\'min : La Sauvegarde</string>
    <string>Al-Mouhaymin : Le Préservateur</string>
    <string>Al-‘Aziz : Le Tout Puissant</string>
    <string>Al-Jabbār : L\'Imposant</string>
    <string>Al-Mutakabbir : Le Suprême, Le Majestueux</string>
    <string>Al-Khāliq : Le Créateur</string>
    <string>Al-Bāri’ : Le Producteur</string>
    <string>Al-Musawwir : Le Formateur</string>
    <string>Al-Ghaffār : L\'Infini Pardonneur</string>
    <string>Al-Qahhār : Le Tout Dominateur</string>
    <string>Al-Wahhāb : Le Très Généreux</string>
    <string>Ar-Razzāq : Le Grand Pourvoyeur</string>
    <string>Al-Fattāh : Le Grand Juge</string>
    <string>Al-‘Alīm : L\'Omniscient</string>
    <string>Al-Qabid : Celui Qui saisit</string>
    <string>Al-Bāsit : Le Généreux</string>
    <string>Al-Khāfid : Celui qui abaisse</string>
    <string>Ar-Rāfi‘ : L\'Éleveur</string>
    <string>Al-Mu‘izz : Celui qui rend puissant</string>
    <string>Al-Moudhill : Celui qui humilie les fiers</string>
    <string>As-Samī‘ : L\'Audient</string>
    <string>Al-Basīr : Le Clairvoyant</string>
    <string>Al-Hakam : L\'Arbitre</string>
    <string>Al-‘Adl : Le Juste</string>
    <string>Al-Latīf : Le Doux</string>
    <string>Al-Khabīr : Le Bien-Informé</string>
    <string>Al-Halīm : Le Très Doux</string>
    <string>Al-Adhīm : L\'Immense</string>
    <string>Al-Ḡafhūr : Le Très Pardonneur</string>
    <string>Ash-Shakūr : Le Très-Reconnaissant</string>
    <string>Al-Ali : Le Très Haut</string>
    <string>Al-Kabīr : Le Très Grand</string>
    <string>Al-Hafīdh : Le Gardien</string>
    <string>Al-Muqīt : Celui qui nourrisse</string>
    <string>Al-Hasīb : Celui qui règle les comptes</string>
    <string>Al-Jalīl : Le Sublime</string>
    <string>Al-Karīm : Le Généreux</string>
    <string>Ar-Raqīb : L\'Observateur</string>
    <string>Al-Mujīb : Celui qui exauce les prières</string>
    <string>Al-Wāsi‘ : Le Vaste</string>
    <string>Al-Hakīm : Le Sage</string>
    <string>Al-Wadūd : Le Tout affectueux</string>
    <string>Al-Majīd : Le Tout Glorieux</string>
    <string>Al-Bā‘ith : Celui qui ressucite</string>
    <string>Ash-Šahīd : Le Grand Témoin</string>
    <string>Al-Haqq : La Vérité</string>
    <string>Al-Wakīl : Le Tuteur</string>
    <string>Al-Qawi : Le Fort</string>
    <string>Al-Matīn : Le Robuste</string>
    <string>Al-Wa\'li : Le Protecteur</string>
    <string>Al-Hamīd : Le Loué</string>
    <string>Al-Muhsi : Celui qui connait les comptes</string>
    <string>Al-Mubdi‘ : L\'Auteur</string>
    <string>Al-Mu‘īd : Celui qui fait rentrer dans le néant</string>
    <string>Al-Muhyī : Celui qui donne vie</string>
    <string>Al-Mumīt : Celui qui donne la mort</string>
    <string>Al-Hayy : Le vivant</string>
    <string>Al-Qayyūm : La Source</string>
    <string>Al-Wājid : Celui qui existe</string>
    <string>Al-Mājid : L\'Illustre</string>
    <string>Al-Wāhid : L\'Unique</string>
    <string>Al-Ahad : Le Seul</string>
    <string>As-Samad : L\'Absolu</string>
    <string>Al-Qādir : Le Déterminant</string>
    <string>Al-Muqtadir : Le Très Puissant</string>
    <string>Al-Muqaddim : Celui qui précède tous</string>
    <string>Al-Mu’akhir : Celui qui sera après tous</string>
    <string>Al-Awwal : Le Premier</string>
    <string>Al-Ākhir : Le Dernier</string>
    <string>Adh-Dhāhir : L\'Apparent</string>
    <string>Al-Bātin : Le Caché</string>
    <string>Al-Wāly : Le Monarque</string>
    <string>Al-Muta\'āli : Le Sublime</string>
    <string>Al-Barr : Le Bienfaisant</string>
    <string>At-Tawwab : L\'Accueillant au repentir</string>
    <string>Al-Muntaqim : Le Vengeur</string>
    <string>Al-Afuww : Le Très Indulgent</string>
    <string>Al-Ra’ūf : Le Bienveillant</string>
    <string>Mālik-ul-Mulk : Le Maître du Pouvoir</string>
    <string>Dhul-Jalāli-wal-Ikrām : Le Plein de Majesté et de Magnificience</string>
    <string>Al-Muqsit : L\'Equitable</string>
    <string>Al-Jāmi‘ : Le Rassembleur</string>
    <string>Al-Ḡhani : Le Riche</string>
    <string>Al-Mughni : Celui qui enrichit</string>
    <string>Al-Māni‘ : Le Défenseur</string>
    <string>Ad-Dār : Celui qui peut nuire</string>
    <string>An-Nāfi‘ : L\'Utile</string>
    <string>An-Nūr : La Lumière</string>
    <string>Al-Hādi : Le Guide</string>
    <string>Al-Badī‘ : L\'inventeur</string>
    <string>Al-Baqi : Le Permanent</string>
    <string>Al-Wārith : L\'Héritier</string>
    <string>Ar-Rashīd : Celui qui agit avec droiture</string>
    <string>As-Sabur : Le Patient</string></array>
</plist>
