<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>Prologue</string>
    <string>La vache</string>
    <string>La famille d’Imran</string>
    <string>Les femmes</string>
    <string>La table servie</string>
    <string>Les bestiaux</string>
    <string>Al-Araf</string>
    <string>Le butin</string>
    <string>Le repentir</string>
    <string>Jonas</string>
    <string>Hud</string>
    <string>Joseph</string>
    <string>Le tonnerre</string>
    <string>Abraham</string>
    <string>Al-Hijr</string>
    <string>Les abeilles</string>
    <string>Le voyage nocturne</string>
    <string>La caverne</string>
    <string>Marie</string>
    <string>Ta-Ha</string>
    <string>Les prophètes</string>
    <string>Le pélerinage</string>
    <string>Les croyants</string>
    <string>La lumière</string>
    <string>Le discernement</string>
    <string>Les poètes</string>
    <string>Les fourmis</string>
    <string>Le récit</string>
    <string>L’araignée</string>
    <string>Les romains</string>
    <string>Luqman</string>
    <string>Le prosternation</string>
    <string>Les coalisès</string>
    <string>Saba</string>
    <string>Le Créateur</string>
    <string>Ya-Sin</string>
    <string>Les rangés</string>
    <string>Sad</string>
    <string>Les groupes</string>
    <string>Le pardonneur</string>
    <string>Les versets détaillés</string>
    <string>La consultation</string>
    <string>L’ornement</string>
    <string>La fumée</string>
    <string>L’agenouillée</string>
    <string>Al-Ahqaf</string>
    <string>Muhammad</string>
    <string>La victoire éclatante</string>
    <string>Les appartements</string>
    <string>Qaf</string>
    <string>Qui éparpillent</string>
    <string>At-Tur</string>
    <string>L’étoile</string>
    <string>La lune</string>
    <string>Le Tout Miséricordieux</string>
    <string>L’événement</string>
    <string>Le fer</string>
    <string>La discussion</string>
    <string>L’exode</string>
    <string>L’éprouvée</string>
    <string>Le rang</string>
    <string>Le vendredi</string>
    <string>Les hypocrites</string>
    <string>La grande perte</string>
    <string>Le divorce</string>
    <string>L’interdiction</string>
    <string>La royauté</string>
    <string>La plume</string>
    <string>Celle qui montre la vérité</string>
    <string>Les voies d’ascension</string>
    <string>Noé</string>
    <string>Les djinns</string>
    <string>L’enveloppé</string>
    <string>Le revêtu d’un manteau</string>
    <string>La résurrection</string>
    <string>L’homme</string>
    <string>Les envoyés</string>
    <string>La nouvelle</string>
    <string>Les anges qui arrachent les âmes</string>
    <string>Il s’est renfrogné</string>
    <string>L’obscurcissement</string>
    <string>La rupture</string>
    <string>Les fraudeurs</string>
    <string>La déchirure</string>
    <string>Les constellations</string>
    <string>L’astre nocturne</string>
    <string>Le Très-Haut</string>
    <string>L’enveloppante</string>
    <string>L’aube</string>
    <string>La cité</string>
    <string>Le soleil</string>
    <string>La nuit</string>
    <string>Le jour montant</string>
    <string>L’ouverture</string>
    <string>Le figuier</string>
    <string>L’adhérence</string>
    <string>La destinée</string>
    <string>La preuve</string>
    <string>La secousse</string>
    <string>Les coursiers</string>
    <string>Le fracas</string>
    <string>La course aux richesses</string>
    <string>Le temps</string>
    <string>Les calomniateurs</string>
    <string>L’éléphant</string>
    <string>Koraïsh</string>
    <string>L’ustensile</string>
    <string>L’abondance</string>
    <string>Les infidèles</string>
    <string>Les secours</string>
    <string>Les fibres</string>
    <string>Le monothéisme pur</string>
    <string>L’aube naissante</string>
    <string>Les hommes</string></array>
</plist>
