<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>The Exceedingly Compassionate, The Exceedingly Beneficent, The Exceedingly Gracious</string>
    <string>The Exceedingly Merciful</string>
    <string>The King</string>
    <string>The Holy, The Pure, The Perfect</string>
    <string>The Peace, The Source of Peace and Safety, The Savior</string>
    <string>The Guarantor, The Affirming</string>
    <string>The Guardian</string>
    <string>The Almighty, The Invulnerable, The Honorable</string>
    <string>The Irresistible, The Compeller, The Lofty</string>
    <string>The Majestic, The Supreme</string>
    <string>The Creator</string>
    <string>The Evolver, The Fashioner, The Designer</string>
    <string>The Fashioner of Forms</string>
    <string>The Repeatedly Forgiving</string>
    <string>The Subduer</string>
    <string>The Bestower</string>
    <string>The Provider</string>
    <string>The Opener, The Victory Giver</string>
    <string>The All Knowing, The Omniscient</string>
    <string>The Restrainer, The Straightener</string>
    <string>The Extender / Expander</string>
    <string>The Abaser</string>
    <string>The Exalter</string>
    <string>The Giver of Honour</string>
    <string>The Giver of Dishonour</string>
    <string>The All Hearing</string>
    <string>The All Seeing</string>
    <string>The Judge, The Arbitrator</string>
    <string>The Utterly Just</string>
    <string>The Gentle, The Subtly Kind</string>
    <string>The All Aware</string>
    <string>The Forbearing, The Indulgent</string>
    <string>The Magnificent</string>
    <string>The Much-Forgiving</string>
    <string>The Grateful</string>
    <string>The Sublime</string>
    <string>The Great</string>
    <string>The Preserver</string>
    <string>The Nourisher</string>
    <string>The Bringer of Judgment</string>
    <string>The Majestic</string>
    <string>The Bountiful, The Generous</string>
    <string>The Watchful</string>
    <string>The Responsive, The Answer</string>
    <string>The Vast, The All-Embracing, The Omnipresent, The Boundless</string>
    <string>The Wise</string>
    <string>The Loving</string>
    <string>All-Glorious, The Majestic</string>
    <string>The Resurrecter</string>
    <string>The Witness</string>
    <string>The Truth, The Real</string>
    <string>The Trustee, The Dependable, The Advocate</string>
    <string>The Strong</string>
    <string>The Firm, The Steadfast</string>
    <string>The Friend, Patron and Helper</string>
    <string>The All Praiseworthy</string>
    <string>The Accounter, The Numberer of All</string>
    <string>The Originator, The Producer, The Initiator</string>
    <string>The Restorer, The Reinstater Who Brings Back All</string>
    <string>The Giver of Life</string>
    <string>The Destroyer, The Bringer of Death</string>
    <string>The Living</string>
    <string>The Subsisting, The Guardian</string>
    <string>The Perceiver, The Finder, The Unfailing</string>
    <string>The Illustrious, The Magnificent</string>
    <string>The One, The Unique</string>
    <string>The Unity, The Indivisible</string>
    <string>The Eternal, The Absolute, The Self-Sufficient</string>
    <string>The Omnipotent, The All Able</string>
    <string>The Determiner, The Dominant</string>
    <string>The Expediter, He Who Brings Forward</string>
    <string>The Delayer, He Who Puts Far Away</string>
    <string>The First, The Beginning-less</string>
    <string>The Last, The Endless</string>
    <string>The Manifest, The Evident, The Outer</string>
    <string>The Hidden, The Unmanifest, The Inner</string>
    <string>The Patron, The Protecting Friend, The Friendly Lord</string>
    <string>The Supremely Exalted, The Most High</string>
    <string>The Good</string>
    <string>The Ever Returning, Ever Relenting</string>
    <string>The Avenger</string>
    <string>The Pardoner, The Effacer, The Forgiver</string>
    <string>The Kind, The Pitying</string>
    <string>The Owner of all Sovereignty</string>
    <string>The Lord of Majesty and Generosity</string>
    <string>The Equitable, The Requiter</string>
    <string>The Gatherer, The Unifier</string>
    <string>The Rich, The Independent</string>
    <string>The Enricher, The Emancipator</string>
    <string>The Withholder, The Shielder, The Defender</string>
    <string>The Distressor, The Harmer, The Afflictor</string>
    <string>The Propitious, The Benefactor, The Source of Good</string>
    <string>The Light</string>
    <string>The Guide, The Way</string>
    <string>The Incomparable, The Unattainable</string>
    <string>The Immutable, The Infinite, The Everlasting</string>
    <string>The Heir, The Inheritor of All</string>
    <string>The Guide to the Right Path</string>
    <string>The Timeless, The Patient</string></array>
</plist>
